/*webkit-sassui-gray Start*/
.webkit-sassui-gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

/*webkit-sassui-gray End*/
.test-webkit-sassui-gray {
  padding-top: 100px;
}

.test-webkit-sassui-gray img {
  display: block;
  margin-bottom: 20px;
}
